@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #13131F;
  --secondary-bg: #212121;
  --text-color: #F9F9F9;
  --secondary-text-color: #828282;
  --purple: #8257E6;
  --purple-dark: #6B45D0;
  --icon-color: #F9F9F9;
  --white-color: #F9F9F9;
}

.light {
  --primary-bg: #F9F9F9;
  --secondary-bg: #ffffff;
  --text-color: #13131F;
  --secondary-text-color: #828282;
  --icon-color: #13131F;
  --purple: #8257E6;
  --purple-dark: #6B45D0;

  --background: var(--primary-bg);
  --foreground: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-bg);
    --foreground: var(--secondary-bg);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
